* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
}

@font-face {
  font-family: 'Bernier Distressed';
  src: url('../assets/fonts/BERNIERDISTRESSED-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}